<h1> Mentions Legales </h1>
<h2> Conditions Générales d'Utilisation du Site</h2>

<p>
    Les valeurs de consommation de carburant et d'émissions de CO2 mentionnées sont déterminées conformément à la
    nouvelle procédure mondiale harmonisée d'essai des véhicules légers WLTP (Règlement UE 2017/948), et les valeurs
    correspondantes sont reconverties en NEDC pour permettre la comparabilité avec d'autres véhicules. Veuillez
    contacter votre revendeur pour les dernières informations. Les valeurs ne tiennent pas compte des conditions
    d'utilisation, des équipements ou des options de conduite et en particulier, et peuvent varier en fonction du format
    des pneus. Pour plus d'informations sur les valeurs de consommation de carburant et d'émissions de CO2 officielles,
    veuillez consulter la directive "Consigne de consommation de carburant, émissions de CO2 des voitures particulières
    neuves" disponible gratuitement dans tous les points de vente ou à l' ADEME - Agence De l' Environnement et Maîtrise
    de l'Énergie (Éditions, 2 square Lafayette, BP 406, 49004 Angers Cedex 01) ou sur http://www.carlabelling.ademe.fr/
</p>
<p>
    Préambule :
    Le présent site (ci-après dénommé « Site ») est destiné à l'information personnelle des internautes qui l’utilise.
    L'accès et l'utilisation de ce Site sont soumis aux présentes « Conditions Générales» détaillées ci-après ainsi
    qu'aux lois et/ou règlements applicables. La connexion et l'accès à ce Site impliquent l'acceptation intégrale et
    sans réserve de l'internaute de toutes les dispositions des présentes Conditions Générales.
    La société propriétaire du Site se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes
    Conditions Générales et tous les éléments, produits ou services présentés sur le Site. L'ensemble de ces
    modifications s'impose aux internautes qui doivent consulter les présentes Conditions Générales lors de chaque
    connexion et/ou les conditions générales des sites d’Automobiles liés au Site.
</p>