<h1> Mentions Legales </h1>
<h2> Conditions Générales d'Utilisation du Site</h2>

<p>
    Les valeurs de consommation de carburant et d'émissions de CO2 mentionnées sont déterminées conformément à la
    nouvelle procédure mondiale harmonisée d'essai des véhicules légers WLTP (Règlement UE 2017/948), et les valeurs
    correspondantes sont reconverties en NEDC pour permettre la comparabilité avec d'autres véhicules. Veuillez
    contacter votre revendeur pour les dernières informations. Les valeurs ne tiennent pas compte des conditions
    d'utilisation, des équipements ou des options de conduite et en particulier, et peuvent varier en fonction du format
    des pneus. Pour plus d'informations sur les valeurs de consommation de carburant et d'émissions de CO2 officielles,
    veuillez consulter la directive "Consigne de consommation de carburant, émissions de CO2 des voitures particulières
    neuves" disponible gratuitement dans tous les points de vente ou à l' ADEME - Agence De l' Environnement et Maîtrise
    de l'Énergie (Éditions, 2 square Lafayette, BP 406, 49004 Angers Cedex 01) ou sur http://www.carlabelling.ademe.fr/
</p>
<p>
    <span class="cgi-titre">Préambule : </span> <br>
    Le présent site (ci-après dénommé « Site ») est destiné à l'information personnelle des internautes qui l’utilise.
    L'accès et l'utilisation de ce Site sont soumis aux présentes « Conditions Générales» détaillées ci-après ainsi
    qu'aux lois et/ou règlements applicables. La connexion et l'accès à ce Site impliquent l'acceptation intégrale et
    sans réserve de l'internaute de toutes les dispositions des présentes Conditions Générales.
    La société propriétaire du Site se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes
    Conditions Générales et tous les éléments, produits ou services présentés sur le Site. L'ensemble de ces
    modifications s'impose aux internautes qui doivent consulter les présentes Conditions Générales lors de chaque
    connexion et/ou les conditions générales des sites d’Automobiles liés au Site.
</p>
<p>
    La société propriétaire du Site se réserve le droit de modifier et de mettre à jour, sans préavis, les présentes
    Mentions Légales et tous les éléments, produits ou services présentés sur le Site. L'ensemble de ces modifications
    s'impose aux internautes qui doivent consulter les présentes Mentions Légales liées au Site.

    Les présentes Mentions Légales sont soumises au droit français.
</p>
<p>
    <span class="cgi-titre">Droits de propriété intellectuelle </span> <br>

    CENTRE'AUTO'CASS avise les utilisateurs de ce Site que de nombreux éléments de celui-ci:
    <br>
    1 - Sont protégés par la législation sur le droit d'auteur : ce peut être notamment des photographies, des articles,
    des dessins, des séquences animées, des enregistrements au format audio ou vidéo numériques,...
    <br>
    2 - Et/ou sont protégés par la législation sur les dessins et modèles;
    <br>
    3 - Sont protégés par la législation sur les marques des modèles de véhicules, apparaissant sur le Site.
    <br>
    Les éléments ainsi protégés sont la propriété de CENTRE'AUTO'CASS, de ses filiales, ou
    de tiers ayant autorisé CENTRE'AUTO'CASS à les exploiter.
    <br>
    A ce titre, toute reproduction, représentation, utilisation, adaptation, modification, incorporation, traduction,
    commercialisation, partielles ou intégrales par quelque procédé et sur quelque support que ce soit (papier,
    numérique, …) est interdite, sans l'autorisation écrite préalable de CENTRE'AUTO'CASS ou de la société
    propriétaire desdits éléments, hormis les exceptions légalement admises par l’article 122-5 du Code la Propriété
    Intellectuelle, sous peine de constituer un délit de contrefaçon de droit d’auteur et/ou de dessins et modèles et/ou
    de marque, puni de trois (3) ans d'emprisonnement et de trois cent mille euros (300 000 €) d'amende dans le cas de
    contrefaçon de droits d’auteur et de quatre (4) ans d’emprisonnement et de quatre cent mille euros (400 000 €)
    d’amende dans le cas de contrefaçon de marques.
    <br>
    Les marques et logos des logiciels affichés sur ce Site sont la propriété respective des sociétés les exploitant, et
    ne peuvent être exploités sans l’accord préalable et écrit desdites sociétés. Ces marques incluant mais ne se
    limitant pas nécessairement à tout logiciel non nommément identifié dans les présentes Mentions Légales.
</p>
<p>
    <span class="cgi-titre">Information relative aux produits </span> <br>

    Les informations et illustrations figurant sur les pages de ce Site sont des informations à caractère général et
    n'ont pas valeur contractuelle. Elles sont susceptibles d’être modifiées sans préavis.
</p>