<h1 class="text-center"> {{ advert.title }} </h1>
<div class="carousel">
    <ul class="carousel-items">
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide3.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide2.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide1.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide1.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide1.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide1.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide1.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide2.jpg" />
            </div>
        </li>
        <li class="carousel-item-solo">
            <div class="card">
                <img src="/assets/img/slide1.jpg" />
            </div>
        </li>
    </ul>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <h3>
                Mise en circulation: {{ advert.dateImmat }}
            </h3>
            <h3>
                Marque: {{ advert.model.brand.name }}
            </h3>
            <h3>
                Modele: {{ advert.model.name }}
            </h3>
        </div>
        <div class="col-md-4">
            <h3>
                Kilométrage: {{ advert.km }}
            </h3>
            <h3>
                Carburant: {{ advert.fuel.type }}
            </h3>
            <h3>
                Reference de l'annonce: {{ advert.ref }}
            </h3>
        </div>
        <div class="col-md-4 price-advert"> {{ advert.price }} €</div>
    </div>
</div>
<p>
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum reprehenderit illum repellendus modi blanditiis?
    Quasi, quos. Sequi, amet in! Illum magni quaerat nam quo in eaque, tempora aspernatur. Fugit, pariatur?Tempore
    cum
    quasi quaerat voluptatem maiores consectetur, incidunt omnis vel culpa, dolores doloribus magnam amet laudantium
    aliquam? Vero, ea totam accusantium sed et, impedit ullam possimus, distinctio temporibus modi quas?
    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum reprehenderit illum repellendus modi blanditiis?
    Quasi, quos. Sequi, amet in! Illum magni quaerat nam quo in eaque, tempora aspernatur. Fugit, pariatur?Tempore
    cum
    quasi quaerat voluptatem maiores consectetur, incidunt omnis vel culpa, dolores doloribus magnam amet laudantium
    aliquam? Vero, ea totam accusantium sed et, impedit ullam possimus, distinctio temporibus modi quas?
</p>
<div class="text-center">
    <a href="" class="btn btn-info"> Contactez nous pour plus d'informations ! </a>
</div>