@import './../../../styles.scss';
@import './../accueil/accueil.component.scss';


.liste-advert{
    padding: auto;
    display: block;
    margin-bottom: 50px;
}
.btn-add{
    background-color: #00AD4A;
    padding: 10px 20px;
    margin-top: 20px;
    text-align: center;
    display: block;
    width: 50%;
    margin: 40px auto 20px auto;
    color: white;
}
