<p>admin-profil works!</p>
<h1>Le site comptabilise un total de {{ proNumber }} professionnels</h1>

<div *ngFor="let professional of professionals">
    <a [routerLink]="['/pro-profil', professional.id]"> {{ professional.firstname}} - {{ professional.lastname }}
    </a>
    <a class="btn btn-danger m-2" (click)="deleteProfessional(professional.id)"> /!\ Supprimer cet utilisateur /!\
    </a>
</div>

<h1>Le site comptabilise un total de {{ garageNumber }} garages</h1>

<div *ngFor="let garage of garages">
    <p>{{ garage.name }} : {{ garage.address }} - {{garage.city}} ({{ garage.tel }})</p>
</div>