<header class="container-fluid header-accueil">
    <div class="row">
        <div class="col logo ml-5 mt-1">Centre'Auto'Ccas</div>
        <div class="col-auto user-hello mt-1" *ngIf="currentUser?.username">Bonjour {{ currentUser.username }}</div>
    </div>

    <div class="row mt-1 mb-1">
        <div class="col">
            <hr style="border-bottom-color: gainsboro;" />
        </div>
    </div>

    <div class="row menu-accueil header-accueil">

        <div class="col-md-3 onglet">
            <button routerLink="home">Accueil </button>
        </div>
        <div class="col-md-3 onglet">
            <button *ngIf="currentUser?.username" [routerLink]="['/pro-profil', currentUser?.id]">Mon profil</button>
        </div>
        <div class="col-md-3 onglet">
            <button routerLink="admin-profil">Profil Admin </button>
        </div>
        <div class="col-md-3 onglet">
            <button *ngIf="!currentUser" routerLink="login">M'authentifier </button>
            <button *ngIf="currentUser?.username" type="submit" (click)="logout()"> Me
                déconnecter </button>
        </div>

    </div>
</header>