<header class="container-fluid header-accueil">
    <div class="row">
        <div class="col-md-12 logo">Centre'Auto'Ccas</div>
    </div>
    <div *ngIf="currentUser?.username">Bonjour {{ currentUser.username }}</div>


    <div class="row menu-accueil header-accueil">

        <div class="col-md-3">
            <a class="mr-5" routerLink="home">Accueil </a>
        </div>
        <div class="col-md-3">
            <a *ngIf="currentUser?.username" [routerLink]="['/pro-profil', currentUser?.id]">Mon profil</a>
        </div>
        <div class="col-md-3">
            <a *ngIf="!currentUser" class="mr-5" routerLink="login">M'authentifier </a>
            <button *ngIf="currentUser?.username" type="submit" (click)="logout()">Me déconnecter</button>
        </div>
        <div class="col-md-3">
            <a class="mr-5" routerLink="admin-profil">Profil Admin </a>
        </div>
    </div>
</header>