<header class="container-fluid header-accueil">
    <div class="row">
        <div class="col-md-12 logo">Centre'Auto'Ccas</div>
    </div>

    <div class="row menu-accueil header-accueil">

        <div class="col-md-3">
            <a class="mr-5" routerLink="home">Accueil </a>
        </div>
        <div class="col-md-3">
            <a class="mr-5" routerLink="add-pro">Ajouter un Professionnel </a>
        </div>
        <div class="col-md-3">
            <a class="mr-5" routerLink="login">Vous authentifier </a>
        </div>
        <div class="col-md-3">
            <a class="mr-5" routerLink="admin-profil">Profil Admin </a>
        </div>
    </div>

</header>