@import './../../../styles.scss';
.btn-menu{
    
    background-color: $secondary_color;
    
    width: 80%;
    height: 40px;
    margin-top: 20px;
    color: white;
    box-shadow: 1px 1px 5px gray;
    
}
.row{
    padding-top: 0px;
    background-image: url("src/assets/img/carWallpaper.jpg");
    background-size: 100%;
    min-height: 1000px;
}
.header-accueil{
    margin-bottom: 0px;
}
a:hover, button:hover {
    color: $tertiary_color !important ;
    text-decoration: none;
  }
  @media all and (max-width: 1024px){
    .btn-menu{
        background-color: $secondary_color;
        width: 40%;
        height: 40px;
        margin-top: 20px;
        color: white;
        box-shadow: 1px 1px 5px gray;;
    }
    .row{
        padding-top: 0px;
        background-image: url("src/assets/img/carWallpaper.jpg");
        background-size: cover;
    }
}