<div class="row">
    <div class="col-md-3">
        <div>
            <button class="ml-3 btn btn-menu" [routerLink]="['/edit-pro/', professional.id]">Gérer mon compte</button>
        </div>
        <div>
            <button [routerLink]="['/garages/', professional.id]" class="ml-3 btn btn-menu">Gérer mes garages</button>
        </div>
        <div>
            <button [routerLink]="['/adverts/', professional.id]" class="ml-3 btn btn-menu">Gérer mes annonces</button>
        </div>
        <div>
            <button class="ml-3 btn btn-menu" (click)="logout()">Me déconnecter</button>
        </div>
    </div>


    <!--     <div class="col-md-9">
        {{ professional?.firstname}} - {{ professional?.lastname }}

        <div *ngFor="let garage of garages">
            <a [routerLink]="['/garage', garage.id]"> {{ garage.name }} : {{ garage.address }} - {{garage.city}}
                ({{ garage.tel }})</a>
        </div>
        <a [routerLink]="['/add-garage/', professional?.id]" class="btn btn-success btn-card"> Ajouter un garage </a>
    </div> -->
</div>