@import './../../../styles.scss';
.btn-menu{
    
    background-color: $secondary_color;
    
    width: 80%;
    height: 40px;
    margin-top: 20px;
    color: white;
    //text-align: center;
    /*
    text-shadow: 0px 2px 2px black;
    font-size: 30px;
    */
    box-shadow: 1px 1px 5px gray;
    
}
.row{
    padding-top: 0px;
    background-image: url("src/assets/img/carWallpaper.jpg");
    background-size: 100%;
    min-height: 1000px;
}
.header-accueil{
    margin-bottom: 0px;
}
a:hover, button:hover {
    color: $tertiary_color !important ;
    text-decoration: none;
  }